.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.container input{
    background-color: inherit;
    width: 120%;
    height: 100%;
    margin-top: 2%;
    margin-bottom: 2%;
}