.container {
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 1.5rem;
  margin-top: 1rem;
  border-top: 1px solid #9ca3af59;
  box-sizing: border-box;
}

.container_2 {
  display: grid;
  grid-template-columns: 48px 1fr;
  gap: 1rem;
}

.imgg {
  object-fit: cover;
  border-radius: 9999px;
  width: 3rem;
  height: 3rem;
}

.container3 {
  display: flex;
  margin-top: -12px;
  gap: 2%;
}

.container3 h4 {
  font-weight: 500;
}

.container4 {
  display: flex;
}

.container4 p {
  color: #6b7280;
}

.post_image {
  object-fit: cover;
  border-radius: 1rem;
  max-height: 100%;
  max-width: 100%;
}

.container5 {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  /* align-items:baseline; */
  align-items: center;
  font-size: 16px;
  margin-top: 1rem;
  width: 95%;
  color: rgba(255, 255, 255, 0.53);
  box-sizing: border-box;
}

.container6 {
  display: flex;
  gap: 0.25rem;
  align-items: center;
  margin-left: 4%;
}

.container6:hover {
  color: rgb(0, 166, 255);
  background:rgba(0, 166, 255, 0.078);
  border-radius: 30%;
  cursor: pointer;
}

.container7 {
  font-size: 120%;
}

.container8 {
  font-size: 0.7rem;
}

.container84 {
  font-size: 120%;
}

.container84:hover {
  color: red;
  cursor: pointer;
}

.container85 {
  font-size: 120%;
}

.container85:hover {
  color: rgb(47, 206, 255);
  cursor: pointer;
}

.container9 {
  display: flex;
  gap: 0.25rem;
  align-items: center;
}

.container10 {
  color: #e91e63; 
}

.container11 {
  font-size: 120%;
}

.container12 {
    color: #e91e63;
}

.container13 {
    font-size: 0.875rem;
}

.container14:hover {
  text-decoration: underline;
}

.container15{
  width: 100%;
}
