.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-weight: bold;
}

.container input{
    background-color: inherit;
    color: #ffffff;
    border: 0.5px solid #cccccc37;
    width: 90%;
    height: 35px;
    margin-top: 3%;
}

.container button{
    background: rgb(0, 174, 255);
    color: #ffffff;
    width: 90%;
    height: 35px;
    margin-top: 3%;
    border: none;
}

.container button:hover {
    background-color: rgba(0, 174, 255, 0.829);
  }

  .auth {
    display: flex;
    padding: 0.6rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    gap: 1rem;
    border-radius: 30px;
    align-items: center;
    cursor: pointer;
    background: #fff;
    color: black;
    width: 300px;
    justify-content: center;
    font-weight: bold;
    margin-left: 80px;
  }