.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-weight: bold;
}

.container input{
    background-color: inherit;
    color: #ffffff;
    border: 0.5px solid #cccccc37;
    width: 90%;
    height: 28px;
    margin-top: 2%;
}

.container textarea{
    background-color: inherit;
    color: #ffffff;
    border: 0.5px solid #cccccc37;
    width: 90%;
    height: 50px;
    margin-top: 2%;
    resize: none;
}

.containerF{
    display: flex;
    justify-content:left;
}

.containerF label{
    margin-top: 3%;
    width: 40%;
    font-weight:lighter;
}

.containerF input{
    margin-top: 3%;
    width: 50%;
    padding-top: .55%;
    padding-left: .5%;
}

.container button{
    background: rgb(0, 174, 255);
    color: #ffffff;
    width: 90%;
    height: 28px;
    margin-top: 3%;
    border: none;
}

.container button:hover {
    background-color: rgba(0, 174, 255, 0.829);
    cursor: pointer;
}

.error{
    margin: 2% 0 0 0;
    color: rgb(255, 0, 0);
    font-weight: initial;
}