.container {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
}

.left_side {
  display: grid;
  place-items: center;
}

.left_icon {
  color: #ffffff;
  font-size: 300px;
  width: 100%;
}

.right_side{
  margin-left: 5%;
}

.right_side h1{
  font-size: 450%;
  width: 100%;
}

.Oauth {
  display: flex;
  padding: 1rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  gap: 1rem;
  border-radius: 30px;
  align-items: center;
  cursor: pointer;
  background: #fff;
  color: black;
}

.right_icon{
  font-size: 30px;
}
